

<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=9">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<html lang='ar-AE'>
<head>
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="@Url.Content("~/Content/materialize.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2015.1.318/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2015.1.318/kendo.material.min.css" rel="stylesheet" />

    <script src="~/Scripts/kendo/2015.1.318/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2015.1.318/kendo.ui.core.min.js"></script>
    <script src="@Url.Content("~/Scripts/materialize.js")"></script>
    <script src="@Url.Content("~/Scripts/String.js")"></script>



</head>
<body>
    <script>



        var DEBUG = true;
    </script>
    <header>

        <nav class="top-nav z-depth-2">
            <div class="container ">
                <div class="nav-wrapper"><a class="  page-title"># Tarjem </a></div>
            </div>
        </nav>

        <div class="container">
            <a href="javasscript: void(0);" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
        <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
            <li class="logo">
                <a id="logo-container" href="http://materializecss.com/" class="brand-logo">
                </a>
            </li>
            <li class="bold">
                <a class='waves-effect waves-teal' href="collapsible.html">Collapsible</a>
            </li>
        </ul>
    </header>
    <main>
        <div class="container">

            <div class="row z-depth-4">
                @RenderBody()
                <div class=" clearfix "></div>
            </div>


        </div>
    </main>
    <script>
        function initDrop() {
            initMaterialize();
        }

        function initMaterialize() {
            $(document).ready(function () {
                $(".button-collapse").sideNav();
                $('.collapsible').collapsible({
                    accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                });

                $('.dropdown-button').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    constrain_width: false, // Does not change width of dropdown to that of the activator
                    hover: true, // Activate on hover
                    gutter: 0, // Spacing from edge
                    belowOrigin: false // Displays dropdown below the button
                }
             );

                Materialize.updateTextFields();
            });



            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
        }


        initDrop();

    </script>









</body>
</html>
